* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    font-family: 'roboto',sans-serif;
    margin: 0;
}

li {
    list-style: none;

}

.header-menu {
    display: flex;
    position: fixed;
    width: 100%;
    padding: 8px;
    padding-bottom: 32px;
    padding-top: 32px;
    height: 60px;
    background-color: #010203;
}

.header-menu nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;

}

.lista-menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;

}

.lista-menu li>a {
    font-size: 18px;
    color:rgb(68, 9, 48);
}

.principal {
    display: flex;
    background-color: rgb(34, 27, 122);
    height: 100vh;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    padding-right: 10px;
    scroll-padding-left: 10px;
    width: 100%;

}

.lista-menu li>a {
    font-size: 18px;
    color: rgb(230, 235, 240);
}

.principal {
    height: 100vh;
    display: flex;
    background-color:white;
}

.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
    padding-right: 10px;
    scroll-padding-left: 10px;
    width: 100%;
}

.subcontainer-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nome-completo {
    font-size: 36px;
    color: rgb(17, 3, 11);
    font-weight: 700;
    height: 45px;
}

.texto-sobre {
    font-size: 20px;
    line-height: 32px;
}

.profissao {
    color: rgb(12, 5, 2);
    height: 60px;
}

.topico-principal {
    font-size: 36px;
    color: rgb(60, 60, 60);
}

.lista-item {
    padding: 32px;
}

.lista-item ul li {
    margin-bottom: 32px;
}

.lista-titulo {
    margin-bottom: 5px;
    font-size: 22px;
    color: rgb(82, 84, 84);
    font-weight: 700;
}

.lista-local {
    font-size: 18px;
    color: yellow;
}

.lista-descricao {
    font-size: 18px;
    margin-top: 5px;
    line-height: 20px;
    color: rgb(42, 65, 139);
    font-weight: 300;
}

.article-lista {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    flex-direction: column;
}

.wrapper-portifolio {
    background-color:white;
    height: flex;
    flex-direction: column;
}

.lista-descricao {
    font-size: 18px;
    color: rgb(7, 3, 1);
    font-weight: 500;
}

footer {
    background-color: rgb(210, 215, 212);
    height: 30vh;
    display: flex;
    align-items: center;
}

.lista-footer li {
    color: rgb(1, 8, 2);
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}

.link {
        text-decoration: none;
        color: rgb(1, 7, 3);
}

.estilo-icon {
    font-size: 32px;
    margin-right: 10px;
}
